<nav class="navbar navbar-expand-lg bg-black fixed-top"> <!--Barra inicial -->
    <div class="container-fluid">
        <a class="navbar-brand ms-5" href="vitrine">
            <img src="logosolo.png" class="img-fluid logo" alt="Livraria Jane">
        </a>        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
            <div class="mx-auto w-50">
            <form class="d-flex mx-auto" role="search">
                <input class="form-control me-2" type="search" placeholder="Sua próxima leitura" aria-label="Busca">
                <button class="btn btn-custom" type="submit">Buscar</button>
            </form>
            </div>
            <div class="ms-3">
                <a href="carrinho" class="nav-link me-4"> 
                    <img src="carrinho.png" alt="Ícone de Carrinho" class="img-fluid icon-carrinho" style="width: 35px;">
                    <span class="text-carrinho">Carrinho</span>
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="spacer"></div>

<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-custom"><!--Menu -->
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span>Menu</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto" style="width: 80%; display: flex; justify-content: space-between;"> 
                <li class="nav-item">
                    <a class="navbar-brand" href="#">Clássicos</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" href="#">Ficção científica</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" href="#">Fantasia</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" href="#">Romance</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" href="#">Não-ficção</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" href="#">Leituras conjuntas</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" href="#">Nosso espaço</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="custom-space"></div>

<div class="container">
    <div class="row r"> 
        <div class="col-12 col-md-5 text-start"><!--Ja tenho cadastro -->
            <p class="h2 mt-4 text-center"> Já tenho cadastro.</p>     
            <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">E-mail</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Senha</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="text-center d-flex flex-column flex-md-row "> 
                    <button type="submit" class="btn btn-dark btn-entra me-2">Entrar</button>
                    <a href="#" class="text-decoration-none espaco-link">Esqueci minha senha</a>
                </div>
              </form>
            
        </div>
        <div class="col-12 col-md-2 d-flex justify-content-center">
            <div class="vertical-line"></div>
            <div class="horizontal-line d-md-none"></div>
        </div>

        <div class="col-12 col-md-5 justify-content-center text-center"> 
            <img src="logo 2.png" class="img-fluid logogato" alt="Login">
            <p class="h3 mt-2 text-left"> Ainda não tenho cadastro.</p> 
            <div class="d-flex justify-content-center">
                <a href="cadastro" class="btn btn-dark btn-cadastro mt-2">Clique aqui</a>
            </div>
            </div>
        </div>
    </div>


<div style="height: 80px;"></div>
