<nav class="navbar navbar-expand-lg bg-black fixed-top"> <!--Barra inicial -->
    <div class="container-fluid">
        <a class="navbar-brand ms-5" href="vitrine">
            <img src="logosolo.png" class="img-fluid logo" alt="Livraria Jane">
        </a>        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
            <div class="mx-auto w-50">
            <form class="d-flex mx-auto" role="search">
                <input class="form-control me-2" type="search" placeholder="Sua próxima leitura" aria-label="Busca">
                <button class="btn btn-custom" type="submit">Buscar</button>
            </form>
            </div>

            <div class="ms-3">
                <a href="login" class="nav-link me-4">
                    <img src="pessoa.png" alt="Ícone de Login" class="img-fluid icon-login" style="width: 40px;">
                    <span class="text-login">Login</span>
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="spacer"></div>

<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-custom"><!--Menu -->
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span>Menu</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto" style="width: 80%; display: flex; justify-content: space-between;"> 
                <li class="nav-item">
                    <a class="navbar-brand" href="#">Clássicos</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" href="#">Ficção científica</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" href="#">Fantasia</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" href="#">Romance</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" href="#">Não-ficção</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" href="#">Leituras conjuntas</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" href="#">Nosso espaço</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="custom-space"></div>


<div class="container mt-4"> <!--Carrinho -->
    <h1 class="text-center">Sua cesta de compras </h1>
    <div class="alert alert-info text-center" role="alert">
      <b>{{mensagem}}</b>
    </div>
  
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Cod.</th>
          <th scope="col">Nome</th>
          <th scope="col">Qtd</th>
          <th scope="col">Valor R$</th>
          <th scope="col">Total por Item R$</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let x of cesta.itens">
          <td>{{x.codigo}}</td>
          <td>{{x.produto.nome}}</td>
          <td>{{x.quantidade}}</td>
          <td>{{x.produto.valor | currency:'BRL':true}}</td>
          <td>{{x.valor | currency:'BRL':true}}</td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="removerItem(x)">Remover</button>
          </td>
        </tr>
        <tr>
          <td colspan="4" class="text-right font-weight-bold">Total</td>
          <td colspan="2">R$ {{cesta.total | currency:'BRL':true}}</td>
        </tr>
      </tbody>
    </table>
  
    <div class="text-center">
      <button class="btn btn-dark btn-limpar" (click)="limparCesta()">Limpar Cesta</button>
    </div>
  </div>
  